@import '../../styles/breakpoints';

.toc {
  position: sticky;
  top: 0;

  ul {
    position: absolute;
    left: -12rem;
    top: 0;

    width: 9rem;

    margin-left: 1rem;
    text-indent: -1rem;

    list-style: none;

    font-size: 10pt;

    a {
      padding-left: 3px;
      border-left: 3px solid transparent;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.titleEnd {
  display: flex;
  align-items: flex-start;

  &::before {
    content: '';

    display: inline-block;

    height: 75px;
    width: 75px;

    margin-right: 10px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/images/animal-pillar.png');
  }
}

.title {
  font-size: 175%;
  font-weight: bold;
  margin-bottom: 8px;
}

.authors {
  color: #494949;
  font-weight: bold;
  margin-bottom: 42px;
}
