@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-italic.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : italic;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-semibold.woff2') format('woff2');
  font-weight : 600; /* semibold */
  font-style  : normal;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-semibold-italic.woff2') format('woff2');
  font-weight : 600; /* semibold */
  font-style  : italic;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-bold-italic.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : italic;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-heavy.woff2') format('woff2');
  font-weight : 900; /* heavy */
  font-style  : normal;
}

@font-face {
  font-family : 'Adishila';
  src         : url('/assets/fonts/adishila-heavy-italic.woff2') format('woff2');
  font-weight : 900; /* heavy */
  font-style  : italic;
}

/* ================================================== */

@font-face {
  font-family : 'IndUni-C';
  src         : url('/assets/fonts/induni-c-regular.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-C';
  src         : url('/assets/fonts/induni-c-oblique.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : oblique;
}

@font-face {
  font-family : 'IndUni-C';
  src         : url('/assets/fonts/induni-c-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-C';
  src         : url('/assets/fonts/induni-c-bold-oblique.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : oblique;
}

/* ================================================== */

@font-face {
  font-family : 'IndUni-P';
  src         : url('/assets/fonts/induni-p-roman.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-P';
  src         : url('/assets/fonts/induni-p-italic.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : italic;
}

@font-face {
  font-family : 'IndUni-P';
  src         : url('/assets/fonts/induni-p-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-P';
  src         : url('/assets/fonts/induni-p-bold-italic.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : italic;
}

/* ================================================== */

/* ================================================== */

@font-face {
  font-family : 'IndUni-H';
  src         : url('/assets/fonts/induni-h-regular.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-H';
  src         : url('/assets/fonts/induni-h-oblique.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : italic;
}

@font-face {
  font-family : 'IndUni-H';
  src         : url('/assets/fonts/induni-h-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'IndUni-H';
  src         : url('/assets/fonts/induni-h-boldoblique.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : italic;
}

/* ================================================== */

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-thin.woff2') format('woff2');
  font-weight : 100; /* thin */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-extralight.woff2') format('woff2');
  font-weight : 200; /* extralight */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-light.woff2') format('woff2');
  font-weight : 300; /* light */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-regular.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-medium.woff2') format('woff2');
  font-weight : 500; /* medium */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-semibold.woff2') format('woff2');
  font-weight : 600; /* semibold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-extrabold.woff2') format('woff2');
  font-weight : 800; /* extrabold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Kannada';
  src         : url('/assets/fonts/noto-serif-kannada/noto-serif-kannada-black.woff2') format('woff2');
  font-weight : 900; /* black */
  font-style  : normal;
}

/* ================================================== */
@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-thin.woff2') format('woff2');
  font-weight : 100; /* thin */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-extralight.woff2') format('woff2');
  font-weight : 200; /* extralight */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-light.woff2') format('woff2');
  font-weight : 300; /* light */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-regular.woff2') format('woff2');
  font-weight : 400; /* regular */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-medium.woff2') format('woff2');
  font-weight : 500; /* medium */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-semibold.woff2') format('woff2');
  font-weight : 600; /* semibold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-bold.woff2') format('woff2');
  font-weight : 700; /* bold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-extrabold.woff2') format('woff2');
  font-weight : 800; /* extrabold */
  font-style  : normal;
}

@font-face {
  font-family : 'Noto Serif Tamil';
  src         : url('/assets/fonts/noto-serif-tamil/noto-serif-tamil-black.woff2') format('woff2');
  font-weight : 900; /* black */
  font-style  : normal;
}

/* ================================================== */
@font-face {
  font-family : 'Akshar Unicode';
  src         : url('/assets/fonts/akshar.woff2') format('woff2');
  font-weight : 400; /* normal */
  font-style  : normal;
}
/* ================================================== */

[data-nesar-script="Latn"] {
  font-family: var(--font-main);
  font-style: italic;
}

[data-nesar-script="Deva"] {
  font-family: var(--font-devanagari);
}

[data-nesar-script="Knda"] {
  font-family: var(--font-kannada);
}
[data-nesar-script="Mlym"] {
  font-family: var(--font-malayalam);
}
[data-nesar-script="Taml"] {
  font-family: var(--font-tamil);
}
[data-nesar-script="Telu"] {
  font-family: var(--font-telugu);
}

span[data-nesar-script="Knda"],
span[data-nesar-script="Mlym"],
span[data-nesar-script="Telu"] {
    font-size: 115%;
    font-style: normal;
}

span[data-nesar-script="Deva"] {
    font-size: 125%;
    font-style: normal;
}

div[data-nesar-script="Latn"],
p[data-nesar-script="Latn"] {
  font-size: 115%;
}
