@import './breakpoints';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: var(--lh);
  background-color: var(--brand-light);
  color: var(--brand-dark);

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 12px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a,
a:active,
a:hover,
a:visited {
  color: var(--brand);
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

dl {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 25%;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  dd {
    margin-left: auto;
    width: 75%;
  }
}

hr {
  margin: 24px 0;
}

input:focus {
  outline: 2px solid var(--brand);
}

table {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  thead {
    text-align: left;
    background-color: lightgray;
  }

  tbody {
    border-top: 1px solid black;
  }

  td, th {
    padding: 0.2rem 2rem 0.1rem 0.2rem;
  }
}

.hidden {
  position: absolute;
  left: -9999px;
}

.highlighted {
  font-weight: bold;
  color: var(--brand);
}

.toc-active {
  font-weight: bold;
  border-left-color: lightgray !Important;
}
