html {
  --max-width         : 1200px;
  --max-width-content : 900px;

  --brand-light : #FFFFFF;
  --brand-dark  : #19191C;
  --brand       : #F6820B;

  --font-main       : 'IndUni-H', 'Helvetica';
  --font-monospace  : 'IndUni-C', 'Courier';
  --font-devanagari : 'Adishila', 'ITF Devanagari', 'Siddhanta';
  --font-kannada    : 'Noto Serif Kannada';
  --font-tamil      : 'Akshar Unicode';

  --line-height : 1.35;
}
