.buttonLink {
  padding: 8px 24px;

  border-radius: 8px;

  font-weight: bold;

  display: inline-flex;
  align-items: center;

  background-color: white;

  a {
    color: black;
    text-decoration: none;
  }

  &:active {
    background: #F3F3F3;
  }

  &:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.14);
  }
}

.downloadIcon {
  &:before {
    content: url('/assets/images/download.svg');
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }
}
