@import '../styles/breakpoints';

.footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.divider {
  background-image: url('/assets/images/decorative-bar-black.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: 20%;
  height: 48px;

  @media (max-width: $mobile-breakpoint) {
    background-size: 75%;
  }
}

.item {
  padding: 0 20px 10px 20px;
}
