@import '../styles/breakpoints';

.heroCard {
  height: 275px;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 32px 0;

  display: flex;
  align-items: flex-end;

  @media (max-width: $tablet-breakpoint) {
    height: 225px;
  }

  @media (max-width: $mobile-breakpoint) {
    height: 150px;
  }
}

.title {
  padding: 16px;
  margin-left: 48px;

  background-color: rgba(215, 215, 215, 0.75);

  font-weight: bold;
  font-size: 200%;

  border-top-left-radius: 8px;

  text-align: right;
}
