.search {
  background-image: url(/assets/images/divider-large.png);
  background-repeat: repeat-x;
  background-position: center;
  height: 48px;

  text-align: right;
  padding-right: 152px;
}

.menu {
  background-image: url(/assets/images/divider-small-gray.png);
  background-repeat: repeat-x;
  background-position: center;
  height: 32px;
}

.menuList {
  display: flex;
  list-style: none;

  padding-left: 136px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.menuList li {
  padding: 8px 16px 0 16px;
  margin: 0 24px;
  transform: translateX(-24px);
  background-color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.menuList li a {
  text-decoration: none;
  color: var(--brand-dark);
}

.menuList li a:hover {
  color: var(--brand);
}

.input {
  height: 32px;
  width: 144px;

  margin-top: 8px;

  border: none;

  font-size: 1em;
  text-align: center;

  transition: width 300ms;
}

.input::placeholder {
  font-family: var(--font-main);
  color: black;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus {
  width: 336px;
  max-width: 55vw;
  background-image: none;
}

.input:not(:focus) {
  background-image: url('/assets/images/search.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 7px;
}
