@import '../styles/breakpoints';

$toggleHeight: 48px;
$togglePositionTop: 20px;
$togglePositionRight: 20px;
$toggleZIndex: 2;

.navmenuToggleContainer {
  @media (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.navmenu {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 1;

  height: 100vh;
  width: 100vw;

  padding-top: 100px;

  background-color: white; // fallback to hide contents below
  background-image: url('/assets/images/cover-mobile-menu.jpg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: cover;

  @media (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.navmenuToggleContainerOpen {
  position: fixed;
  top: $togglePositionTop;

  height: $toggleHeight;
  width: 100vw;

  z-index: $toggleZIndex;

  background-image: url('/assets/images/decorative-bar-black.png');
  background-repeat: repeat-x;
  background-position: left;
}

.navmenuToggle {
  position: fixed;
  top: $togglePositionTop;
  right: $togglePositionRight;

  z-index: $toggleZIndex;

  height: $toggleHeight;
  width: $toggleHeight;

  border-radius: 50%;

  background-color: white;
  box-shadow: 0px 2px 5px rgba(27, 25, 22, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:active {
    background-color: #F3F3F3;
  }
}

.navmenuToggleIcon {
  height: 24px;
  width: 24px;
}

.navmenuOpen {
  background-image: url('/assets/images/close.svg');
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}

.navmenuClosed {
  background-image: url('/assets/images/menu.svg');
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}

.menuList {
  list-style: none;
  width: 100%;

  padding: 0;

  margin-block-end: 0;
  margin-block-start: 0;

  li {
    margin-bottom: 32px;
    text-transform: uppercase;

    background-image: url('/assets/images/decorative-bar-gray.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;

    padding-left: 50%;
  }
}

.transliterationToggle {
  display: flex;
  justify-content: flex-end;
  margin: 0 $togglePositionRight;

  & > div {
    transform: scale(150%);
    transform-origin: right;
  }
}
