@import '../styles/breakpoints';

.resourceCard {
display: flex;
  margin-bottom: 32px;

  @media (max-width: $maxWidth) {
    flex-direction: column;
  }
}

.coverContainer {
  position: relative;

  width: 360px;
  /* height: 368px; */

  margin-bottom: 16px;
  padding-right: 24px;

  flex-basis: 0;
}

.coverImageContainer {
  width: 264px;
  height: 368px;
  overflow: hidden;

  border-radius: 8px;
}

.pdfContainer {
  position: absolute;

  @media (min-width: $mobile-breakpoint) {
    top: 8px;
    right: 32px;
  }

  @media (max-width: $mobile-breakpoint) {
    bottom: 8px;
    right: 100px;
  }
}
.teiContainer {
  position: absolute;

  @media (min-width: $mobile-breakpoint) {
    top: 54px;
    right: 32px;
  }

  @media (max-width: $mobile-breakpoint) {
    bottom: 55px;
    right: 100px;
  }
}

.publishedDate {
  position: absolute;

  padding: 8px 10px 4px 10px;

  font-family: var(--font-monospace);
  font-size: 80%;
  line-height: 1;

  background-color: white;

  border-radius: 4px;

  @media (min-width: $mobile-breakpoint) {
    bottom: 16px;
    left: 70px;
    margin-right: 10px;
    padding-right: 16px;
    text-align: right;
  }

  @media (max-width: $mobile-breakpoint) {
    top: 10px;
    left: 10px;

    font-weight: bold;
    font-size: 90%;
  }
}

.titleEnd {
  display: flex;
  align-items: center;

  &::before {
    content: '';

    display: inline-block;

    height: 120px;
    width: 100px;

    margin-right: 10px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/images/animal-pillar.png');
  }
}

.authors,
.doi {
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;

  padding-bottom: 8px;

  color: #494949;
}

.authorLink {
  display: inline-block;

  &:not(:last-of-type) {
    &::after {
      content: ',';
      margin-right: 4px;
      color: black;
    }
  }
}

.title {
  font-size: 1.75em;
  line-height: 2;
  font-weight: bold;
}

.abstract {
  color: #606264;
  padding-top: 1em;
  font-style: italic;
  line-height: 1.5;
}

.tags {
  font-family: var(--font-monospace);
  font-size: 0.8125em;
  line-height: 1.125;

  display: inline-block;

  margin-top: 24px;
}

.tag {
  margin-right: 8px;
}
