@import '../styles/breakpoints';

.resourceCard {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 20px;

  margin-bottom: 30px;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.cover {
  text-align: center;
}

.coverImage {
  width: 100%;
  min-height: 362px;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.publishedDate {
  font-style: italic;
}

.downloadContainer {
  display: flex;
  justify-content: center;
}

.authors,
.translators,
.doi {
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;

  padding-bottom: 8px;

  color: #494949;
}

.authorLink,
.translatorLink {
  display: inline-block;

  &:not(:last-of-type) {
    &::after {
      content: ',';
      margin-right: 4px;
      color: black;
    }
  }
}

.title {
    display:block;
    font-size: 1.75em;
    line-height: 1em;
    font-weight: bold;
    padding:1rem 0;
}
.subtitle {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
}

.abstract {
  color: #606264;
  padding-top: 1em;
  font-style: italic;
  line-height: 1.5;
}

.tags {
  font-family: var(--font-monospace);
  font-size: 0.8125em;
  line-height: 1.125;

  margin-top: 24px;
}

.tag {
  margin-right: 8px;
  display: inline-block;
}
