@import '../styles/breakpoints';

.resourceCard {
  margin-bottom: 64px;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 32px;
  }
}

.horizontal {

}

.coverContainer {
  position: relative;

  width: 360px;
  /* height: 368px; */

  margin-bottom: 16px;
}

.coverImageContainer {
  width: 264px;
  height: 368px;
  overflow: hidden;

  border-radius: 8px;
}

.pdfContainer {
  position: absolute;

  top: 8px;
  left: 150px;
}

.publishedDate {
  position: absolute;

  padding: 8px 10px 4px 10px;
  line-height: 1;

  background-color: white;

  font-family: var(--font-monospace);
}

.publishedDate {
  bottom: 16px;
  left: 80px;

  border-radius: 4px;

  font-size: 0.8125em;
}

.authors,
.doi {
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;

  padding-bottom: 8px;

  color: #494949;
}

.title {
  font-size: 1.5em;
  line-height: 2;
}

.abstract {
  color: #606264;
  font-style: italic;
  line-height: 2;
}

.tags {
  font-family: var(--font-monospace);
  font-size: 0.8125em;
  line-height: 1.125;

  display: inline-block;

  margin-top: 24px;
}

.tag {
  margin-right: 8px;
}
